{% extends 'posts/base.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}
<h1>Edit Post: "{{ post.title}}"</h1>
<form method="POST" action="/posts/{{ post.id }}/edit">
    <p>Title <input type="text" class="form-control" name="title" required value="{{ post.title }}"></p>
    <p>Post Content <textarea class="form-control" name="content" required>{{post.content }}</textarea>
    </p>

    <div class="form-group row form-check">
        {% for tag in tags %}
        <div>
            <input class="form-input" type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags" {% if tag
                in tags %} checked {% endif %}>
            <label class="form-check-label" for="tag_{{ tag.id }}">
                {{ tag.name }}
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="form-group text-right">
        <a href="/users/{{post.user.id}}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}